<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MP3Tag.My.MySettings.MP3TagConnectionString" connectionString="Data Source=|DataDirectory|\MP3Tag.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
        <add name="MP3Tag.My.MySettings.MP3TagConnectionString1" connectionString="Data Source=|DataDirectory|\DB\MP3Tag.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="looWPlayerSoap" />
                <binding name="wsLWPSoap" />
                <binding name="apiv1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="looWPlayerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="wsLWPSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="apiv1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.227:97/wsLWP.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsLWPSoap" contract="wsLooWebPlayerII.wsLWPSoap"
                name="wsLWPSoap" />
            <endpoint address="http://looigi.no-ip.biz:107/looWPlayer.asmx"
                binding="basicHttpBinding" bindingConfiguration="looWPlayerSoap"
                contract="wsLooWebPlayer.looWPlayerSoap" name="looWPlayerSoap" />
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" binding="basicHttpBinding"
                bindingConfiguration="apiv1Soap" contract="wsChartLyrics.apiv1Soap"
                name="apiv1Soap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
